body {
    background-image: url("../images/atomic-wallpaper.jpg");
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: whitesmoke;
    display: block;
    float: right;
    margin-right: 100px;
    font-size: 3em;
}

h3, #vs {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: whitesmoke;
    font-size: 1.5em;
    position: relative;
}

.btn-experiment {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border: teal;
    position: relative;
    margin-left: 65px;
    
}

.btn, .btn-primary {
    background: plum;
    border: teal;
    margin-left: 65px;
}

.model {
    border: 3px solid purple;
    overflow: auto;
    clear: both;
    background: white;
    display: inline-block;
    position: relative;
    margin: 0 15px;
}
.model-img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#model-1, h3, #disprove, #expSection, .btn, #defender {
    margin-left: 20px;
    display: inline-block;
}

.model-name {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: block;
    text-align: center;
}

#model-1-health, #model-2-health, #model-3-health, #model-4-health {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: block;
    text-align: center;
}

.status {
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-left: 50px;
    margin-top: 42px;
}

/* When a model is initially picked */
.chosenModel {
    border: 3px solid #64CFD2;
    
}

.possibleDefender {
    background: #64CFD2;
    /* position: relative; */
    /* top: 50px;
    right: 140px; */

}

.chosenDefender {
    /* position: relative; */
    /* top: 0px;
    left: 400px; */
    background: plum;
    
}

.textRight {
    position: relative;

}

h4 {
    /* position: relative;
    bottom: 80px;
    left: 150px; */
}

.zero-health {
    background: red;
}

.reset-btn {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border: teal;
    position: relative;
}



