body {
    background-image: url("../images/atomic-wallpaper.jpg");
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: whitesmoke;
    display: block;
    float: right;
    margin-right: 100px;
    font-size: 5em;
}

h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: whitesmoke;
    font-size: 3em;
}

.btn {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    
}

.btn-primary {
    background: plum;
}

.model {
    border: 3px solid purple;
    overflow: auto;
    clear: both;
    background: whitesmoke;
    display: inline-block;
}
.model-1, .model-2, .model-3, .model-4 {
    position: relative;
}

#model-1-name, #model-2-name, #model-3-name, #model-4-name {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: block;
    text-align: center;
}

#model-1-health, #model-2-health, #model-3-health, #model-4-health {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: block;
    text-align: center;
}